<!DOCTYPE html>
<html>
  <head>
    <title>Yelp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <a href="/pages/about">About</a>
  <a href="/pages/contact">Contact</a>

  <body>
    <%= yield %>
    <p>Copyright 2-Slice Software Solutions, LLC.</p>
  </body>
</html>
